.bdy1 {
    background: #F0F0F0;
    width: 200px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    position: relative;
}

#demo {
    text-align: center;
    font-size: 30px;
    color: brown;

}

#answer {
    text-align: center;
    font-size: 25px;
    color: green;
}

.score {
    background: #F0F0F0;
    width: 200px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    position: relative;
}