<!-- Error handling using try catch -->

<head>
    <script>
        function errHandling() {
            "use strict";
            //default input will come as string so converting into integer
            var n1 = parseInt(document.getElementById("n1").value);
            var n2 = parseInt(document.getElementById("n2").value);
            try {
                //will through exception if number is divide by zero
                document.getElementById("e").innerHTML = n1 / n2;
            } catch (err) {
                document.getElementById("e").innerHTML = err;
            }
        }
    </script>
</head>

<body>
    Enter number 1 :
    <input type="text" id="n1">
    <br> Enter number 2 :
    <input type="text" id="n2">
    <br>
    <input type="submit" value="Check" onclick="errHandling()">
    <p id="e"></p>
</body>