<!-- Events handling-->

<head>
    <script src="events_script.js"></script>
    <link rel="stylesheet" href="events_style.css">
</head>

<body>
    <!-- Mouse events -->

    <!-- oncontextmenu event occurs when the user 
        right-clicks on an element to open a context menu-->
    <div class="block">
        <p oncontextmenu="contextMenu()">Right click here to open a context menu</p>
    </div>

    <!--  mouseover event occurs when the pointer is moved onto an element,
     mouseout event occurs when the pointer is moved out of an element -->
    <p class="block" onmouseover="mOver(this)" onmouseout="mOut(this)">Move your mouse pointer here to see the difference</p>

    <!-- Keyboard events -->

    <!-- onkeydown event occurs when the user is pressing a key -->
    Demo of key down :
    <input type="text" onkeydown="kDown()" id="t">
    </br>
    </br>

    <!--  onkeyup event occurs when the user releases a key-->
    Demo of key up :
    <input type="text" onkeyup="kUp()" id="u">
    </br>

    <!-- Form events -->

    Enter name :
    <input type="text" onfocusin="onFocusIN(this)" onfocusout="onFocusOUT(this)">

</body>